:root{
   --animation-duration:  2s;
}

.suport{
    position: absolute;
    bottom: 0%;

    top: 0%;
    width: 1640px;
    height: 850px;
    text-align: center;
    contain: "";
    background-image: url(../../imeg/car.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: calc(50% + -76px);
    background-position-y: calc(50% - 131px);
    background-size: 1134px;
    margin-left: 133px;
    margin-right: auto;
    animation: next 5s linear;
}

.smash{
    position: absolute;
    display: inline-block;
    align-items: center;
    margin-top: 364px;
    margin-top: 390px;
    margin-left: -153px;
    -webkit-animation-name: smash;
    animation-name: smash;
    -webkit-animation-duration: var(--animation-duration);
    animation-duration: var(--animation-duration);
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    transform-origin: bottom;
}

.smash1{
    position: absolute;
    display: inline-block;
    align-items: center;
    margin-top: 364px;
    margin-top: 390px;
    margin-left: -153px;
    -webkit-animation-name: smash1;
    animation-name: smash1;
    -webkit-animation-duration: var(--animation-duration);
    animation-duration: var(--animation-duration);
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    transform-origin: bottom;
}

.shadow,.rotateimg{
   border-radius: 50%;
   display: inline-block;
   width: 141px;
   height: 141px;
   position: absolute;
   left: 94px;
   top: -47px;
 }
// .shadow{
//     animation-name: shadow;
//     animation-duration: var(-animation-duration);
//     animation-direction:inherit;
//     animation-timing-function:ease-out;
//     animation-iteration-count: inherit;
   

// }
.rotateimg{
    content: "";
    background-image: url(../../imeg/balon2.png);
    background-repeat: no-repeat;
    background-size: 100%;
    animation-name: rotate;
    animation-duration:calc( var(--animation-duration)*0.9);
    animation-timing-function: linear;
    animation-iteration-count:infinite;
 }


 .shadow1,.rotateimg2{
    border-radius: 50%;
    display: inline-block;
    width: 137px;
    height: 137px;
    position: absolute;
    left: -164px;
    top: -50px;
 }

 .rotateimg2{
    content: "";
    background-image: url(../../imeg/balon2.png);
    background-repeat: no-repeat;
    background-size: 100%;
    animation-name: rotate;
    animation-duration:calc( var(--animation-duration)*0.9);
    animation-timing-function: linear;
    animation-iteration-count:infinite;
 }



 @keyframes next{
    0%
    {
        transform: translatey(0px) translatex(0px);
    }
    20%
    {
        transform: translatey(0px) translatex(250px);
    }
    40%
    {
        transform: translatey(0px) translateX(500px);
    }
    60%
    {
        transform: translatey(0px) translatex(750px);
    }
    80%
    {
        transform: translatey(0px)translate(1000px);
    }
    100%
    {
        transform: translatey(0px)translate(1250px);
    }
}

// @keyframes shadow{
//     0%{
//         transform: translateY(0) ;
//         box-shadow: 20px 20px 10px #444466;
//     }
//     100%{
//        transform: translateY(-360px) ;
//        box-shadow: 20px 350px 250px #444466; 
//     }
// }

@keyframes smash{
    0%{
        transform: scaleY(1);
    }
    19%{
        transform: scaleY(1);
    }
}
@keyframes rotate{
    0%{
        transform: rotateZ(0deg);
    }
    50%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotateZ(360deg);
    }
}