:root{
   --animation-duration:  0.7s;
}

.suport{
    position: absolute;
    bottom: 0%;

    top: 0%;
    width: 1640px;
    height: 850px;
    text-align: center;
    contain: "";
    background-image: url(../../imeg/professional-basketball-court-arena-backgrounds-background-169169050.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: calc(50% + -76px);
    background-position-y: calc(50% - 131px);
    background-size: 1134px;
    margin-left: 133px;
    margin-right: auto;

}

.smash{
   
    position: absolute;
    display: inline-block;
    align-items: center;
    margin-top: 364px;
    margin-top: 390px;
    margin-left: -153px;
    -webkit-animation-name: smash;
    animation-name: smash;
    -webkit-animation-duration: var(--animation-duration);
    animation-duration: var(--animation-duration);
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    transform-origin: bottom;
}
.shadow,.rotateimg{
   border-radius: 50%;
   display: inline-block;
   width: 200px;
   height: 200px;
}
.shadow{
    animation-name: shadow;
    animation-duration: var(--animation-duration);
    animation-direction:inherit;
    animation-timing-function:ease-out;
    animation-iteration-count: infinite;
   

}
.rotateimg{
    background-image: url(http://www.wdisseny.com/code/basket.gif);
    background-size: 100%;
    animation-name: rotate;
    animation-duration:calc( var(--animation-duration)*0.9);
    animation-timing-function: linear;
    animation-iteration-count:inherit;
}
@keyframes shadow{
    0%{
        transform: translateY(0) ;
        box-shadow: 20px 20px 10px #444466;
    }
    100%{
       transform: translateY(-360px) ;
       box-shadow: 20px 350px 250px #444466; 
    }
}

@keyframes smash{
    0%{
        transform: scaleY(0.5);
    }
    19%{
        transform: scaleY(1);
    }
}
@keyframes rotate{
    0%{
        transform: rotateZ(0deg);
    }
    50%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotateZ(360deg);
    }
}